* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.titulo-tarefas {
    background-color: black;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.adicionar-tarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.input-tarefa {
    width: 800px;
    padding: 20px;
    border: 1px solid #808080;
    border-radius: 10px;
    font-size: 15px;
}
.area-das-tarefas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}
.tarefa {
    border: 1px solid #808080;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.tarefa input {
    margin-right: 30px;
}
.tarefa  img {
    width: 25px;
    margin-left: 600px;
    border-radius: 10px;
}
.tarefa button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 1px;
    border-radius: 5px;
    position: absolute;
    margin-left: 100px;
}
textarea:focus, input:focus, select:focus {
    outline: 0;
} 
.tarefa-feita {
    text-decoration: line-through;
    border: 1px solid #808080;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}